body {
	background-color: #232323;
	margin: 0;
	font-family: 'Luckiest Guy', cursive;


}

h1 {
	color: white;
	text-align: center;
	background: #4094c9;
	margin: 0;
	padding-top: 15px;

}

#colorDisplay {
	font-size: 120%;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

button {
	font-family: 'Luckiest Guy', cursive;
}

.selected {
	background: blue;
}


#container {
	max-width: 600px;
	margin: 0 auto;
}

.square {
	background: yellow;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}