body {
	background-color: #232323;
}

h1,
span {
	color: white;
}


#container {
	max-width: 600px;
	margin: 0 auto;
}

.square {
	background: yellow;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}