* {
	transition: all .2s;
}

body {
	background-color: #232323;
	margin: 0;
	font-family: 'Luckiest Guy', cursive;
	

}

h1 {
	color: white;
	text-align: center;
	background: #4094c9;
	margin: 0;
	padding-top: 15px;
	font-size: 170%;
	letter-spacing: 2px;
}

#colorDisplay {
	font-size: 150%;
	letter-spacing: 3px;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

button {
	font-family: 'Luckiest Guy', cursive;
	font-size: inherit;
	border: none;
	background: none;
	height: 100%;
	color: #4094c9;
	letter-spacing: 1px;
	padding-top: 5px;
	/*transition: all .2s;*/
}

button:hover {
	background: #4094c9;
	color: white;
}

#message {
	display: inline-block;
	width: 20%;
}

.selected {
	background: #4094c9;
	color: white;
}


#container {
	max-width: 600px;
	margin: 0 auto;
}

.square {
	background: yellow;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}